.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(7, 64, 221, 0.753);
    color: white;
    cursor: pointer;
    margin-right: 20px;
}



.productListDelete{
    align-items: center ;
    font-size: 19px !important;
}